html, body{
  background-color: #E8E8E8;
  font-family: "adobe-text-pro", serif;
  font-weight: 100;
  font-size: 100%;
  width: 100%;
}

.section{
  line-height: 1.6;
  font-size: 1em;
  color: #333;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

#text-wrapper{
  padding: 0%;
  display: inline-block;
  top: 0px;
  position: relative;
  z-index: 100;
}

.section{
  margin-bottom: 300px;
}

.racekey{
  font-size:.6em;
  padding-left: 20px;
}

#graph-wrapper{
  display: inline-block;
  margin: 0;
  padding: 0;

  position: fixed;
  top: 90px;
  z-index: 1;
  margin-left: 0;
  height: 600px;
  width: 600px;
  background-color: #ddd;
}
.graphplot{
  /*margin-left: 50px;
  margin-top: 33px;*/
}

#map-wrapper{
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 600px;
  width: 600px;
}

.scatterPlot{
  visibility: hidden;
}
.mapPlot{
  visibility: visible;
}

h1{
  font-size: 2.5em;
  color: #fff;
  background-color: #000;
  display: inline;
}

h2{
  font-size: 1.5em;
}

h2 a{
  color: #777;
  font-weight: 100;
  font-size: .8em;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
}

h2 a:hover{
  color: #ddd;
}

.descr{
  color: #333;
  font-weight: 300;
  font-size: .8em;
}

a{
  text-decoration: none;
  color: #333;
}

p{
  margin-bottom: 5px;
  padding: 0;
}


u{
    text-decoration: underline;
    -webkit-text-decoration-color: #ffd565;
    text-decoration-color: #ffd565;
}

#keytext{
  position: absolute;
  top:390px;
  left:559px;
}

.keyT{
  display: inline-block;
  width: 80px;
}

/*VIZ css*/

path.link {
  fill: #fff;
  stroke: #666;
  stroke-width: 1.5px;
}

#schoolBox {
  position: absolute;
  /*margin-top: 200px;*/
  margin-left:5px;
  width: 150px;
  height: auto;
  padding: 20px 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#precinctBox {
  position: absolute;
  top:70%;
  left:1%;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#schoolBox.hidden, #precinctBox.hidden {
  display: none;
}

#schoolBox p, #precinctBox p, .label, #keytext, .axis {
  margin: 0;
  font-family: tahoma;
  font-size: 8px;
  line-height: 15px;
}

#refreshButton {
  position: absolute;
  top: 180px;
  left:800px;
}

.colorKey{
  position: absolute;
  top: 180px;
  left:500px;
}

.parameters{
  font-size: .8em;
  font-weight: 700;
  font-family: "proxima-nova", sans-serif;
}

.graphtitle{
  font-size: 1em;
  font-weight: 700;
  font-family: "proxima-nova", sans-serif;
}

input[type="text"]{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  width: 40px; 
  height: 18px;
}

/*Reposition refresh and boxes
*/
.axis path,
.axis line {
  stroke: gray;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
path {
  fill: rgba(0, 0, 0, 0);
}

line {
  stroke: #555;
  stroke-width: 2px;
}